html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  color: purple;
  font-weight: bold;
  font-size: 15px;
  padding: 0px 0;
  margin-top: 20px;
  padding-bottom: 0px;
}

.carousel {
  position: relative;
  width: 300px;
  height: 270px;
  clip-path: inset(92.5px 0 20.5px 1.5px);
  border: none;
  overflow: hidden;
  margin: auto;
  transform: scale(2);
}

.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slides img {
  width: 300px;
  height: 150px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}
