html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blockquote a,
.imgur-embed-pub a {
  pointer-events: none !important;
  cursor: default;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  color: purple;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
  clip-path: inset(16.2% 0 23.8% 0.37%);
  overflow: hidden;
  margin: 20px auto;
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}

/*
.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
  clip-path: inset(16.2% 0 23.7% 0.37%);
  overflow: hidden;
  margin: 100px auto;
  transform: scale(2);
  transition: transform 0.3s ease-in-out;
}
*/

@media (max-width: 800px) {
  .carousel {
    transform: scale(1.2);
  }

  footer {
    position: relative;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .carousel {
    transform: scale(1);
    margin: 10px auto;
  }

  footer {
    font-size: 12px;
  }
}

/*
.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slides img {
  width: 300px;
  height: 150px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}
*/
